<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Restaurant Review</title>
</head>
<body>
    <h1>Write a Review</h1>
    <form id="reviewForm">
        <label for="review">Type your review below:</label>
        <br><br>
        <textarea id="review" rows="8" cols="70" ></textarea>
        <br>
    </form>
    <button id="submitButton">Submit</button>
    <h1>The review is <span id="sentimentResult">...</span></h1>

    <div id="evaluationContainer" style="display: none;">
        <h2>Is the prediction correct?</h2>
        <button id="correctButton">Correct</button>
        <button id="incorrectButton">Incorrect</button>
    </div>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
