<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Review</title>
</head>
<body>
    <h1>Write a Review</h1>
    <form id="reviewForm">
        <label for="review">Restaurant Review:</label><br>
        <textarea id="review" rows="4" cols="50"></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <h1>The review is:</h1>
    <div id="sentimentResult"></div>
    <script>
        const predictionEndpoint = '/predict';

        document.getElementById('reviewForm').addEventListener('keyup', async (event) => {
            // event.preventDefault();
            const review = document.getElementById('review').value;

            if (review) {
                try {
                    const response = await fetch(predictionEndpoint, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ review }),
                    });

                    if (response.ok) {
                        const data = await response.json();
                        console.log(data);
                        const sentiment = data.sentiment;
                        const resultDiv = document.getElementById('sentimentResult');
                        resultDiv.innerHTML = '';

                        if (sentiment === 'positive') {
                            resultDiv.innerHTML = ':) Positive';
                        } else if (sentiment === 'negative') {
                            resultDiv.innerHTML = ':( Negative';
                        } else {
                            resultDiv.innerHTML = 'Error: Invalid sentiment response';
                        }
                    } else {
                        console.error('Error:', response.statusText);
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            }
        });
    </script>
</body>
</html>
